@use "../base/variables" as v;

*{
  font-family: v.$fuente;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

body.light{
  background-color: v.$body;
  color: v.$text;
}

body.dark{
  background-color: v.$dkbody;
  color: v.$dtext;
}

:root{

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

}

