// Fuentes
$fuente: "Poppins", sans-serif;;

// media queries
$telefono: 480px;
$desktop: 800px;

//colores
$body: #E4E9F7;
$sidebar: #FFF;
$primary: #695CFE;
$primary-light: #F6F5FF;
$toogle: #DDD;
$text: #707070;

//darkmode
$dkbody: #18191A;
$dsidebar: #242526;
$dprimary: #3A3B3C;
$dprimary-light: #3A3B3C;
$dtoogle: #FFF;
$dtext: #CCC;

// transition

$tran-02: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.4s ease;
$tran-05: all 0.5s ease;


//unidades
$separacion: 5rem;